<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p>Телефон: +7 (XXX) XXX-XX-XX</p>
                <p>Email: info@service-center.ru</p>
                <p>Адрес: ул. Чернышевского, 5, Сорочинск, Оренбургская обл., 461900</p>
            </div>
            <div class="col-md-4">
                <h5>Режим работы</h5>
                <p>Пн-Пт: 9:00 - 18:00</p>
                <p>Сб: 10:00 - 15:00</p>
                <p>Вс: Выходной</p>
            </div>
            <div class="col-md-4">
                <h5>Социальные сети</h5>
                <div class="social-links">
                    <a href="https://vk.com/portalsorochinsk" class="text-light me-2" target="_blank">VK</a>
                    <a href="https://t.me/portalsorochinsk" class="text-light" target="_blank">Telegram</a>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="text-center">
            <p class="mb-0">&copy; 2025 Сервисный центр. Все права защищены.</p>
        </div>
    </div>
</footer> 