<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="Логотип" style="height:80px;width:auto;vertical-align:middle;margin-right:36px;">Сервисный центр
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-home me-1"></i> Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/repair"><i class="fas fa-tools me-1"></i> Ремонт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop"><i class="fas fa-shopping-bag me-1"></i> Магазин</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts"><i class="fas fa-address-book me-1"></i> Контакты</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if (user) { %>
                    <% if (user.role === 'admin') { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin"><i class="fas fa-cog me-1"></i> Админ-панель</a>
                        </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="nav-link position-relative" href="/shop/cart">
                            <i class="fas fa-shopping-cart me-1"></i> Корзина
                            <span class="cart-counter" id="cartCounter"></span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user me-1"></i> <%= user.name %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="/shop/orders"><i class="fas fa-list me-1"></i> Мои заказы</a></li>
                            <li><a class="dropdown-item" href="/repair/history"><i class="fas fa-history me-1"></i> История ремонтов</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/auth/logout"><i class="fas fa-sign-out-alt me-1"></i> Выход</a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login"><i class="fas fa-sign-in-alt me-1"></i> Вход</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/register"><i class="fas fa-user-plus me-1"></i> Регистрация</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav> 